<!doctype html>
<html lang="en" ng-app="workoutLogger">
<head>
    <meta charset="utf-8">
    <link rel='stylesheet' type='text/css' href='resources/css/styles.css'/>
    <link rel="stylesheet" type="text/css" href="resources/css/vendor/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="resources/css/vendor/bootstrap.css.map">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Logger App</title>


</head>
<body ng-controller="mainController">


<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Workout Logger App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">

        <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/home') || isActive('/')}"><a href="#home">Home</a></li>
            <li ng-class="{ active: isActive('/manage')}" ng-show="isAdmin"><a href="#manage">manage</a></li>
            <li ng-class="{ active: isActive('/about')}"><a href="#about">about</a></li>
            <li ng-class="{ active: isActive('/contact')}"><a href="#contact">contact</a></li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav pull-right"><a href="./j_spring_security_logout"><span class="glyphicon glyphicon-off"
                                                                                  aria-hidden="true"
                                                                                  data-toggle="tooltip"
                                                                                  data-placement="left"
                                                                                  title="Log out"/></a></li>
        </ul>


    </div>
</nav>

<div ng-view></div>


<script src="resources/angular/angular.js"></script>
<script src="resources/angular/angular-route.js"></script>
<script src="resources/angular/angular-resource.js"></script>
<script src="resources/app/main.js"></script>
<script src="resources/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
<script src="resources/bootstrap/jquery-1.11.2.js"></script>
<script src="resources/bootstrap/bootstrap.min.js"></script>
<script src="resources/app/controller/HomeController.js"></script>
</body>
</html>